#content {
  margin-top: 40px;
  margin-left: 45vw;
  background-color: black;
  width: 140px;
  height: 100px;
  position: relative
}

.span {
  height: 100px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;

}

#content:before,
#content:after,
#content>:first-child:before,
#content>:first-child:after {
  position: absolute;
  content: ' ';
  border-color: red;
  /* or whatever colour */
  border-style: solid;
  /* or whatever style */
}

#content:before {
  top: 12px;
  left: 12px;
  width: 20px;
  height: 20px;
  border-width: 1px 0 0 1px
}

#content:after {
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
  border-width: 1px 1px 0 0
}


#content>:first-child:before {
  bottom: 12px;
  right: 12px;
  width: 20px;
  height: 20px;

  border-width: 0 1px 1px 0
}

#content>:first-child:after {

  bottom: 12px;
  left: 12px;
  width: 20px;
  height: 20px;
  border-width: 0 0 1px 1px
}