nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
}

nav li a:hover {
  color: #f1f1f1;
  background-color: #111;
}

.container {
  margin-top: 200px;
  /* color: #111; */
}

.Register1 {
  background-color: rgba(25, 25, 224, 0.741);
  border: none;
  width: 60px;
  height: 30px;
  color: white;
}

.Submit1 {
  background-color: yellow;
  width: 60px;
  height: 25px;
  border: none;
}

.Register2 {
  background-color: green;
  color: white;
  width: 60px;
  height: 30px;
  border-radius: 12px;
  border: none;
}

.Submit2 {
  background-color: red;
  color: white;
  width: 60px;
  height: 25px;
  border-radius: 8px;
  border: none;
}

.Register3 {
  border: 2px red solid;
  color: rgb(144, 128, 106);
  width: 64px;
  height: 30px;
}

.Submit3 {
  border: 2px rgb(139, 85, 94) solid;
  color: rgb(144, 128, 106);
  width: 64px;
  height: 25px;
}

.Register4 {
  border: 2px yellow solid;
  color: rgb(144, 128, 106);
  width: 70px;
  height: 30px;
  border-radius: 12px;
}

.Submit4 {
  border: 2px rgb(60, 85, 60) solid;
  color: rgb(144, 128, 106);
  width: 60px;
  height: 25px;
  border-radius: 12px;
}