body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

/* Demo Specific Styles */
body {
    line-height: 1.2;
    padding: 0 2em;
    text-align: center;
}

@media(min-width:500px) {
    body {
        background-color: aliceblue;

    }

    h1 {
        font-size: 1.2rem;
        font-size: 700;
        font-weight: 200;
    }
}

@media(min-width:700px) {
    h1 {
        font-size: large;
        font-weight: bold;
    }
}

@media(min-width:800px) {
    h1 {
        font-size: large;
        font-weight: lighter;
        font-size: 3rem;
    }
}