* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(179, 158, 158);
    text-align: center;
}

h1 {
    font-size: 5vw;
}

@media (min-width: 500px) {
    h1 {
        font-size: 32px;
    }
}

@media (min-width: 900px) {
    h1 {
        font-size: 48px;
    }
}