.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    position: relative;
}

a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    border-bottom: 2px solid rgb(0, 0, 0);
    transition: right 0.5s;
}

a:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 100%;
    border-top: 2px solid rgb(9, 9, 10);
    transition: left 0.5s;
}

a:hover:after,
a:hover:before {
    left: 0;
    right: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    margin: 20px;
}