.container{
    position: relative;
    box-sizing: border-box;
}


img{
    background-color: rgb(226, 201, 170);
    margin: 30px;
    width: 300px;
    padding-bottom: 100px;
}
.text{
    position: absolute;
    color: black;
    font-size: large;
    font-weight: bold;
    top: 270px;
    left: 31px;
}
.text2{
    position: absolute;
color: rgb(104, 95, 95);
top: 295px;
left: 31px;
}
.links{
    position: absolute;
    /* width: 0px; */
    width: auto;
    font-size: x-small;
    left: 31px;
    top: 20rem
}
a{
    color: rgb(123, 84, 51);
}
a:hover{
    color: greenyellow;
    cursor: pointer;

}