@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   .spinner1{
    height: 20px;
    width: 20px;
   }
   body{
    background-color: #333;
   }
  .spinner1:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: orange;
    animation: spinner .6s linear infinite;
  }
  .spinner2{
    height: 20px;
    width: 20px;
   }
   .spinner2:before{
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 20%;
    left: 15%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-right: 2px solid orange;
    animation: spinner .9s linear infinite;

   }
   .spinner3 {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    right: 19rem;
    top: 4.3rem;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
  }
  
  @keyframes shadowPulse {
    33% {
      background: #FFF;
      box-shadow: -24px 0 #FF3D00, 24px 0 #FFF;
    }
    66% {
      background: #FF3D00;
      box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }
    100% {
      background: #FFF;
      box-shadow: -24px 0 #FFF, 24px 0 #FF3D00;
    }
  }