* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin: 10px;
}

.container {
  display: flex;
  margin: 0 auto;
  justify-content: end;
  align-items: flex-end;
  height: 100vh;
}