button {
    margin: 20px;
    background: none;
    height: 40px;
    width: 100px;
    position: relative;
    background-color: #ffffff;
}

@keyframes translated {
    from {
        height: 0px;
    }

    to {
        height: 37px;
    }
}

@keyframes left {
    from {
        width: 0px;
    }

    to {
        width: 97px;
    }
}

.translatey::before {
    content: "";
    overflow: hidden;
    position: absolute;
    background-color: red;
    display: none;
    width: 97px;
    height: 37px;
}

.translatey:hover::before {
    content: "cool";
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    animation-name: translated;
    animation-duration: 2s;
    background-color: red
}

.translateyx::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 0, 0, 0.549);
    display: none;
    width: 97px;
    height: 37px;
}

.translateyx:hover::before {
    content: "";
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    animation-name: left;
    animation-duration: 2s;
    background-color: rgba(255, 0, 0, 0.701)
}


.rotate:before {
    content: "";
    position: absolute;
    background-color: yellow;
    left: 0;
    top: 0;
    width: 97px;
    height: 37px;
    transition: all 2s ease-in-out;
    z-index: 1;
    transform: rotate(90deg);
    transform-origin: 0% 0%;
}

.rotate:hover::before {
    z-index: 1;
    transform: rotateX(0);
}

.skew:before {
    content: "";
    position: absolute;
    background: red;
    left: 0;
    top: 0;
    width: 95px;
    height: 37px;
    transition: all 0.2s ease-in-out;
}

.skew:hover:before {
    position: absolute;
    z-index: 21;

    transform: skew(40deg, 5deg);

}